* {
    margin: 0;
    padding: 0;
  }
  
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 60px;
    margin-top: 50px;
  }
  
  header {
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: white;
    margin: auto 50px;
    padding-top: 30px;
    font-weight: bold;
  }
  
  #secondheader {
    color: #394867;
  }
  
  #firstcontainer {
    width: 400px;
    background-color: #394867;
    border: solid #19a7ce;
    border-radius: 10%;
  }
  
  img {
    width: 150px;
    border: solid whitesmoke;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #secondcontainer {
    width: 400px;
    background-color: lightgrey;
    border: solid #394867;
    border-radius: 10%;
  }
  
  #thirdcontainer {
    width: 400px;
    background-color: #394867;
    border: solid #19a7ce;
    border-radius: 10%;
  }
  
  #contact-section {
    margin-top: 10px;
    text-align: center;
    background-color: lightgrey;
    padding: 10px 0;
  }
  
  #map {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  #contact-info {
    margin-bottom: 50px;
    color: #333;
  }
  
  #contact-info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #contact-info p {
    margin: 5px 0;
  }
  
  #contact-info p.email {
    color: #007bff;
  }
  
  #contact-info p.phone {
    color: #28a745;
  }
  
  .social-icons i {
    font-size: 24px;
    margin: 0 5px;
  }
  
  #firstcontainer img,
  #secondcontainer img,
  #thirdcontainer img {
    transition: transform 0.4s ease;
  }
  
  #firstcontainer img:hover,
  #secondcontainer img:hover,
  #thirdcontainer img:hover {
    transform: scale(1.03);
  }
  
  #map {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56.25%; 
  }
  
  #map iframe {
    position: absolute;
    top: 0;
    width: 500px;
    height: 600px;
  }

  @media (max-width: 768px) {

    #container{
      height: auto;
    }

    #container > div {
      flex-basis: calc(100% - 20px);
    }
  
    #contact-section {

        padding-top: 300px;
        margin-top: 300px;
        top: 300px;
        background-color: white;
    }
    
  
    #map {
      height: 300px;
      width: 350px;
      margin: auto;
    }
  
    #contact-info {
      margin-bottom: 30px;
    }
}
body {
  background: linear-gradient(to right, #AFD3E2, #19A7CE, #AFD3E2); /* Gradient renkleri */
  animation: gradientAnimation 10s ease infinite; /* Hareket animasyonu */
}