

  .deleteBtn {
	background-color: #E74C3C;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }

  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 800px;
	margin: 50px auto;
	color: white;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	color: white;
}

.input-group {
	margin-bottom: 10px;
}

.input-group .form-control {
	margin-right: 10px;
	padding-right: 10px;
}

.maintable {
	padding: 20px;
	border-radius: 5px;
}

h1 {
	margin-bottom: 20px;
	text-align: center;
}

body {
	background-image: url("../images/backgroundimage.png");
	background-position: center;
}

#addBtn,
#updateBtn {
	padding: 10px;
	margin-right: 5px;
	margin-left: 10px;
	background-color: #394867;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 767px) {
	.container {
		margin: 20px;
	}

	.header {
		flex-direction: column;
		align-items: center;
	}

	.input-group .form-control {
		margin-right: 0;
		margin-bottom: 10px;
		padding-right: 20px;
	}

	.maintable {
		padding: 10px;
	}

	#addBtn,
	#updateBtn {
		width: 90%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.input-group {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.input-group .form-control,
	#addBtn,
	#updateBtn {
		flex: 1;
	}

	#addBtn {
		margin-right: 0;
		margin-left: 5px;
	}
}
