* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 800px;
	margin: 50px auto;
	color: white;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	color: white;
}

input[type="text"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
}

#addBtn, #updateBtn {
	padding: 10px;
	background-color: #394867;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.week {
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
}

h1, h2 {
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 10px;
	
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
body {
    
    background-image: url("../images/backgroundimage.png");
	z-index: -1;
    background-position: center;
    
  }
  .deleteBtn {
	padding: 5px 10px;
	background-color: #E74C3C;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }

  .date-picker-popup  {
	-fx-border-color: #1783CC;
	-fx-background-color: white;
	 }
  